
*.Zip

*.SchDocPreview
*.stp
*.PrjPcbStructure
*.LOG
*.ipt
BOM/Free Documents.xlsx
Status Report.Txt
*.xlsx
*.htm
*.drc
*.html
*.apr
ams_slave_gerbers/JLC_GERBERS/AMS_Slave_Passiv_V2.TXT
*.RUL
*.REP
*.LDP
*.GTS
*.GTP
*.GTO
*.GTL
*.GML
*.GBS
*.GBP
*.GBO
*.GBL
*.G2
*.G1
*.EXTREP
*.DRR
*.APR_LIB
